openapi: 3.2.0
info:
  title: Open Dental Patients API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Patients
  description: CONFIRMED. Patient demographic records.
paths:
  /patients/{PatNum}:
    get:
      tags:
      - Patients
      summary: Get a single patient
      description: CONFIRMED. Retrieves one patient by PatNum.
      parameters:
      - $ref: '#/components/parameters/PatNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getPatientsByPatNum
      x-operation-id-source: derived
    put:
      tags:
      - Patients
      summary: Update a patient
      description: CONFIRMED. Updates an existing patient. Patients cannot be deleted via the API.
      parameters:
      - $ref: '#/components/parameters/PatNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: putPatientsByPatNum
      x-operation-id-source: derived
  /patients/Simple:
    get:
      tags:
      - Patients
      summary: List patients (Simple)
      description: CONFIRMED. Fast listing of patients with optional filters. Faster than the full patient search.
      parameters:
      - name: LName
        in: query
        schema:
          type: string
      - name: FName
        in: query
        schema:
          type: string
      - name: PatStatus
        in: query
        schema:
          type: string
      - name: Birthdate
        in: query
        schema:
          type: string
          format: date
      - name: ClinicNum
        in: query
        schema:
          type: integer
      - name: DateTStamp
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getPatientsSimple
      x-operation-id-source: derived
  /patients:
    get:
      tags:
      - Patients
      summary: Search patients
      description: CONFIRMED. Searches patients using Patient Select-style logic with many optional criteria.
      parameters:
      - name: LName
        in: query
        schema:
          type: string
      - name: FName
        in: query
        schema:
          type: string
      - name: Phone
        in: query
        schema:
          type: string
      - name: Address
        in: query
        schema:
          type: string
      - name: hideInactive
        in: query
        schema:
          type: boolean
      - name: SSN
        in: query
        schema:
          type: string
      - name: ChartNumber
        in: query
        schema:
          type: string
      - name: Birthdate
        in: query
        schema:
          type: string
          format: date
      - name: Email
        in: query
        schema:
          type: string
      - name: clinicNums
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getPatients
      x-operation-id-source: derived
    post:
      tags:
      - Patients
      summary: Create a patient
      description: CONFIRMED. Creates a new patient.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: postPatients
      x-operation-id-source: derived
components:
  parameters:
    PatNum:
      name: PatNum
      in: path
      required: true
      description: Primary key of the patient.
      schema:
        type: integer
    Offset:
      name: Offset
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    BadRequest:
      description: Bad request - invalid or missing fields.
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
