openapi: 3.2.0
info:
  title: Open Dental Payments API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Payments
  description: CONFIRMED. Patient payments, refunds, and split reallocation.
paths:
  /payments:
    get:
      tags:
      - Payments
      summary: List payments
      description: CONFIRMED. Optional filtering by PatNum, PayType, DateEntry.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      - name: PayType
        in: query
        schema:
          type: integer
      - name: DateEntry
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getPayments
      x-operation-id-source: derived
    post:
      tags:
      - Payments
      summary: Create a payment
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postPayments
      x-operation-id-source: derived
  /payments/Refund:
    post:
      tags:
      - Payments
      summary: Create a refund
      description: CONFIRMED. Creates a refund payment for an existing payment.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postPaymentsRefund
      x-operation-id-source: derived
  /payments/{PayNum}:
    put:
      tags:
      - Payments
      summary: Update a payment
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/PayNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putPaymentsByPayNum
      x-operation-id-source: derived
  /payments/{PayNum}/Partial:
    put:
      tags:
      - Payments
      summary: Reallocate payment splits
      description: CONFIRMED. Reallocates a payment's splits to procedures or pay-plan charges.
      parameters:
      - $ref: '#/components/parameters/PayNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putPaymentsByPayNumPartial
      x-operation-id-source: derived
components:
  parameters:
    PayNum:
      name: PayNum
      in: path
      required: true
      description: Primary key of the payment.
      schema:
        type: integer
  responses:
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
