openapi: 3.2.0
info:
  title: Open Dental Procedures API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Procedures
  description: CONFIRMED. ProcedureLogs, insurance history, and group notes.
paths:
  /procedurelogs/{ProcNum}:
    get:
      tags:
      - Procedures
      summary: Get a procedure log
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ProcNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getProcedurelogsByProcNum
      x-operation-id-source: derived
    put:
      tags:
      - Procedures
      summary: Update a procedure log
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ProcNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putProcedurelogsByProcNum
      x-operation-id-source: derived
    delete:
      tags:
      - Procedures
      summary: Delete a procedure log
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ProcNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: deleteProcedurelogsByProcNum
      x-operation-id-source: derived
  /procedurelogs:
    get:
      tags:
      - Procedures
      summary: List procedure logs
      description: CONFIRMED. Retrieves multiple procedure logs with optional filters.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      - name: ProcStatus
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getProcedurelogs
      x-operation-id-source: derived
    post:
      tags:
      - Procedures
      summary: Create a procedure log
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postProcedurelogs
      x-operation-id-source: derived
  /procedurelogs/InsuranceHistory:
    get:
      tags:
      - Procedures
      summary: Get insurance treatment history
      description: CONFIRMED. Previous treatment dates for a patient's insurance plan.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getProcedurelogsInsuranceHistory
      x-operation-id-source: derived
    post:
      tags:
      - Procedures
      summary: Create an insurance history entry
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postProcedurelogsInsuranceHistory
      x-operation-id-source: derived
  /procedurelogs/GroupNotes:
    get:
      tags:
      - Procedures
      summary: Get group notes
      description: CONFIRMED. Group notes for a patient's procedures.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getProcedurelogsGroupNotes
      x-operation-id-source: derived
  /procedurelogs/GroupNote:
    post:
      tags:
      - Procedures
      summary: Create a group note
      description: CONFIRMED. Creates a group note across multiple procedures.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postProcedurelogsGroupNote
      x-operation-id-source: derived
  /procedurelogs/{ProcNum}/GroupNote:
    put:
      tags:
      - Procedures
      summary: Update a group note
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ProcNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putProcedurelogsByProcNumGroupNote
      x-operation-id-source: derived
    delete:
      tags:
      - Procedures
      summary: Delete a group note procedure
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ProcNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: deleteProcedurelogsByProcNumGroupNote
      x-operation-id-source: derived
components:
  parameters:
    ProcNum:
      name: ProcNum
      in: path
      required: true
      description: Primary key of the procedure log.
      schema:
        type: integer
    Offset:
      name: Offset
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
