openapi: 3.2.0
info:
  title: Open Dental Claims API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Claims
  description: CONFIRMED. Insurance claims and claim workflow.
paths:
  /claims/{ClaimNum}:
    get:
      tags:
      - Claims
      summary: Get a claim
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ClaimNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getClaimsByClaimNum
      x-operation-id-source: derived
    put:
      tags:
      - Claims
      summary: Update a claim
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ClaimNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putClaimsByClaimNum
      x-operation-id-source: derived
    delete:
      tags:
      - Claims
      summary: Delete a claim
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ClaimNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: deleteClaimsByClaimNum
      x-operation-id-source: derived
  /claims:
    get:
      tags:
      - Claims
      summary: List claims
      description: CONFIRMED.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      - name: ClaimStatus
        in: query
        schema:
          type: string
      - name: ClaimType
        in: query
        schema:
          type: string
      - name: PlanNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getClaims
      x-operation-id-source: derived
    post:
      tags:
      - Claims
      summary: Create a claim
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postClaims
      x-operation-id-source: derived
  /claims/{ClaimNum}/Status:
    put:
      tags:
      - Claims
      summary: Update claim status
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ClaimNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putClaimsByClaimNumStatus
      x-operation-id-source: derived
  /claims/{ClaimNum}/Split:
    put:
      tags:
      - Claims
      summary: Split a claim
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/ClaimNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putClaimsByClaimNumSplit
      x-operation-id-source: derived
components:
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  parameters:
    ClaimNum:
      name: ClaimNum
      in: path
      required: true
      description: Primary key of the claim.
      schema:
        type: integer
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
