openapi: 3.2.0
info:
  title: Open Dental Accounts & Ledger API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Accounts & Ledger
  description: MODELED. Adjustments and payment splits on the patient ledger.
paths:
  /adjustments:
    get:
      tags:
      - Accounts & Ledger
      summary: List adjustments
      description: MODELED. Ledger adjustments on patient accounts.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAdjustments
      x-operation-id-source: derived
    post:
      tags:
      - Accounts & Ledger
      summary: Create an adjustment
      description: MODELED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postAdjustments
      x-operation-id-source: derived
  /adjustments/{AdjNum}:
    put:
      tags:
      - Accounts & Ledger
      summary: Update an adjustment
      description: MODELED.
      parameters:
      - name: AdjNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putAdjustmentsByAdjNum
      x-operation-id-source: derived
  /paysplits:
    get:
      tags:
      - Accounts & Ledger
      summary: List payment splits
      description: MODELED.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getPaysplits
      x-operation-id-source: derived
components:
  responses:
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
