openapi: 3.2.0
info:
  title: Open Dental Documents API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Documents
  description: MODELED. Files and images attached to a patient.
paths:
  /documents:
    get:
      tags:
      - Documents
      summary: List documents
      description: MODELED. Files attached to a patient.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getDocuments
      x-operation-id-source: derived
    post:
      tags:
      - Documents
      summary: Upload a document
      description: MODELED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postDocuments
      x-operation-id-source: derived
  /documents/{DocNum}:
    get:
      tags:
      - Documents
      summary: Download a document
      description: MODELED.
      parameters:
      - name: DocNum
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getDocumentsByDocNum
      x-operation-id-source: derived
components:
  responses:
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
