openapi: 3.2.0
info:
  title: Open Dental Appointments API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Appointments
  description: CONFIRMED. Scheduling, slots, and WebSched.
paths:
  /appointments/{AptNum}:
    get:
      tags:
      - Appointments
      summary: Get a single appointment
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/AptNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getAppointmentsByAptNum
      x-operation-id-source: derived
    put:
      tags:
      - Appointments
      summary: Update an appointment
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/AptNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: putAppointmentsByAptNum
      x-operation-id-source: derived
  /appointments:
    get:
      tags:
      - Appointments
      summary: List appointments
      description: CONFIRMED. Retrieves multiple appointments with optional filters.
      parameters:
      - name: PatNum
        in: query
        schema:
          type: integer
      - name: AptStatus
        in: query
        schema:
          type: string
      - name: ClinicNum
        in: query
        schema:
          type: integer
      - name: ProvNum
        in: query
        schema:
          type: integer
      - name: dateStart
        in: query
        schema:
          type: string
          format: date
      - name: dateEnd
        in: query
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAppointments
      x-operation-id-source: derived
    post:
      tags:
      - Appointments
      summary: Create an appointment
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: postAppointments
      x-operation-id-source: derived
  /appointments/ASAP:
    get:
      tags:
      - Appointments
      summary: List ASAP appointments
      description: CONFIRMED.
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAppointmentsASAP
      x-operation-id-source: derived
  /appointments/Slots:
    get:
      tags:
      - Appointments
      summary: Find available appointment slots
      description: CONFIRMED.
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: ProvNum
        in: query
        schema:
          type: integer
      - name: lengthMinutes
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAppointmentsSlots
      x-operation-id-source: derived
  /appointments/SlotsWebSched:
    get:
      tags:
      - Appointments
      summary: Find WebSched available slots
      description: CONFIRMED.
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAppointmentsSlotsWebSched
      x-operation-id-source: derived
  /appointments/WebSched:
    get:
      tags:
      - Appointments
      summary: List WebSched appointments
      description: CONFIRMED.
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getAppointmentsWebSched
      x-operation-id-source: derived
    post:
      tags:
      - Appointments
      summary: Create a WebSched appointment
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postAppointmentsWebSched
      x-operation-id-source: derived
  /appointments/Planned:
    post:
      tags:
      - Appointments
      summary: Create a planned appointment
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postAppointmentsPlanned
      x-operation-id-source: derived
  /appointments/SchedulePlanned:
    post:
      tags:
      - Appointments
      summary: Schedule an existing planned appointment
      description: CONFIRMED.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
      operationId: postAppointmentsSchedulePlanned
      x-operation-id-source: derived
  /appointments/{AptNum}/Break:
    put:
      tags:
      - Appointments
      summary: Break an appointment
      description: CONFIRMED. Marks an appointment as broken.
      parameters:
      - $ref: '#/components/parameters/AptNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putAppointmentsByAptNumBreak
      x-operation-id-source: derived
  /appointments/{AptNum}/Note:
    put:
      tags:
      - Appointments
      summary: Append to appointment note
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/AptNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putAppointmentsByAptNumNote
      x-operation-id-source: derived
  /appointments/{AptNum}/Confirm:
    put:
      tags:
      - Appointments
      summary: Update confirmation status
      description: CONFIRMED.
      parameters:
      - $ref: '#/components/parameters/AptNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: putAppointmentsByAptNumConfirm
      x-operation-id-source: derived
components:
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    BadRequest:
      description: Bad request - invalid or missing fields.
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  parameters:
    AptNum:
      name: AptNum
      in: path
      required: true
      description: Primary key of the appointment.
      schema:
        type: integer
    Offset:
      name: Offset
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
