openapi: 3.2.0
info:
  title: Open Dental Providers API
  description: REST API for Open Dental dental practice management software.
  version: v1
  contact:
    name: Open Dental Software Vendor Relations
    url: https://www.opendental.com/site/apispecification.html
    email: vendor.relations@opendental.com
  license:
    name: Open Dental (proprietary; source viewable under Open Dental license)
    url: https://www.opendental.com/site/sourcecode.html
servers:
- url: https://api.opendental.com/api/v1
  description: Open Dental cloud-hosted API service (headquarters)
security:
- odfhirAuth: []
tags:
- name: Providers
  description: CONFIRMED. Dentists, hygienists, and billing entities.
paths:
  /providers/{ProvNum}:
    get:
      tags:
      - Providers
      summary: Get a single provider
      description: CONFIRMED (v24.4.17+).
      parameters:
      - $ref: '#/components/parameters/ProvNum'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getProvidersByProvNum
      x-operation-id-source: derived
    put:
      tags:
      - Providers
      summary: Update a provider
      description: CONFIRMED (v22.1+).
      parameters:
      - $ref: '#/components/parameters/ProvNum'
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: putProvidersByProvNum
      x-operation-id-source: derived
  /providers:
    get:
      tags:
      - Providers
      summary: List providers
      description: CONFIRMED (v21.1+). Optional filtering by ClinicNum or DateTStamp.
      parameters:
      - name: ClinicNum
        in: query
        schema:
          type: integer
      - name: DateTStamp
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      operationId: getProviders
      x-operation-id-source: derived
    post:
      tags:
      - Providers
      summary: Create a provider
      description: CONFIRMED (v21.4+). Creates a provider, billing entity, or dummy provider.
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: postProviders
      x-operation-id-source: derived
components:
  parameters:
    ProvNum:
      name: ProvNum
      in: path
      required: true
      description: Primary key of the provider.
      schema:
        type: integer
  requestBodies:
    Generic:
      description: Resource fields as a JSON object. See the per-resource reference page on opendental.com/site/apispecification.html for exact field names.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    BadRequest:
      description: Bad request - invalid or missing fields.
    Created:
      description: Created. Typically returns a Location header and the created object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Ok:
      description: Success. Returns one item or an array of items.
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
  securitySchemes:
    odfhirAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Send "ODFHIR {DeveloperKey}/{CustomerKey}" - the per-application Developer Key issued by Open Dental Vendor Relations combined with the per-customer Customer Key. Some endpoints also accept HTTP Basic auth with the Developer Key as username and the Customer Key as password.
